.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutproduct_info{
    padding-left:20px ;

}
.checkoutproduct_info >button{
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.checkoutproduct_img{
    object-fit: contain;
    width: 180px;
    height: 160px;

}
.checkoutproduct_rating{
    display: flex;

}
.checkoutproduct_title{
    font-size: 19px;
    font-weight: 600;

}
