.header{
    height:60px;
    display:flex;
    align-items:center;
    background-color: black;
    top:0;
    z-index:100;
    position: sticky;
}
.header_logo{
   width:100px;
   object-fit: contain;
   margin:0 20px;
   margin-top:10px;
}
.header_searchicon{
    padding:1.8px;
    height:22px;
    background-color: #cd9842;
    margin-left: 2px;
}
.header_search{
    display:flex;
    flex:1;
    align-items: center;
    border-radius: 10px;
}
.header_searchInput{
    height:12px;
    padding:8px;
    border:none;
    width:100%;
}
.header_option{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}
.header_nav{
    display:flex;
    justify-content: space-evenly;
}
.header_optionlineone{
    font-size: 10px;
}
.header_optionlinetwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionbasket{
    display:flex;
    align-items: center;
    color:white;
}
.header_basketcount{
   margin-left: 10px;
    margin-right: 10px;
}